<h1><%= @patient.name %></h1>
<p><%= @patient.age %></p>
<h3>Appointments: </h3>
<ol>
<% @patient.appointments.each do |a| %>
    <li>
        <%= a.time %>
        <p>Doctor: <%= link_to a.doctor.name, doctor_path(a.doctor) %></p>
    </li>
<% end %>
</ol>