<h1><%= @patient.name %></h1>
<h3><%= @patient.age %></h3>

<% @patient.appointments.each do |appt| %>
    <p><%= appt.appointment_datetime_to_s %> - <%= link_to appt.doctor_name, appt.doctor %></p>
<% end %>