<p>When: <%= @appointment.appointment_datetime_to_s %></p>
<p>Doctor: <%= link_to @appointment.doctor_name , @appointment.doctor %></p>
<p>Patient: <%= link_to @appointment.patient_name, @appointment.patient %></p>