<h1><%= @appointment.time %></h1>
<h4><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h4>
<h4><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h4>